
		<%if @commentary.errors.any? then %>	
				<div class="alert alert-danger" role="alert"> 
					<%=  @commentary.errors.full_messages %>
				</div> 
			<%= @message %>	
		<% end %>	

    <h1>Modifier un commentaire !</h1>
    <p>Modifie ton commentaire via le formulaire ci-dessous</p>

		 <%= form_tag url_for(action: 'update'), method: "patch" do %>

      <%= label_tag 'Title' %>
      <%= text_field_tag 'commentary[title]',@commentary.title %>
      <br /> <br />

      <%= label_tag 'Content' %>
      <%= text_area_tag 'commentary[content]', @commentary.content %>
      <br /> <br />

				<%= submit_tag "Modifier Potin", class: 'btn btn-primary' %>
      <br /> <br />
		
    <% end %>

